{% extends "customers.j2" %}
{% block main_heading %}{{ super() }} / Add Customer{% endblock %}

{% block main_content %}

<div id="add_customer">
    <form id="addCustomer" action="{{ url_for('add_customers') }}" method="POST">
        <fieldset>
            <legend>Add New Customer</legend>

            <label>Name</label>
            <input type="text" id="customer_name" name="customer_name" placeholder="First Last" required />

            <br />

            <label>Phone Number</label>
            <input type="tel" id="customer_phone" name="customer_phone" pattern="\([0-9]{3}\)\s[0-9]{3}-[0-9]{4}" placeholder="(555) 123-4567" required />

            <br />

            <label>Email</label>
            <input type="email" id="customer_email" name="customer_email" placeholder="something@example.com" required />
        
        </fieldset>

        <input type="submit" value="Add Customer" name="Add_Customer" />
        <a href="{{ url_for('customers') }}"><input type="button" value="Cancel" /></a>

    </form>
</div>

{% endblock %}

{% block footer %}{{ super.super() }}{% endblock %}