<!DOCTYPE html>
<html lang="en-US">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="description" content="Hero Electronics Database (Draft)" />
        <meta name="author" content="Dania Magana & August Frisk" />
        <title>Hero Electronics: Customers</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
            integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <style>
            td {
                padding: 0 10px;
                text-align: center;
            }
            th {
                padding: 0 15px;
            }
            table {
                display: block;
            }
        </style>
    </head>

    <body>

        <header>
            <h1>Hero Electronics</h1>
        </header>
        <hr />
        <nav>
            <a href="/customers">Customers</a> | Products | Stores | Store Products | Orders
        </nav>
        <hr />
        
        <h2>Customers</h2>

        <div id="update">
            <table>
                {% if data %}
                    <thead>
                        <tr>
                            {% for key in data[0].keys() %}
                            <th scope="col" data-field="{{key}}" data-filter-control="input">{{key}}</th>
                            {% endfor %}
                        </tr>
                    </thead>

                    <tbody>
                        {% for item in data %}
                            <tr>
                                {% for key in item.keys() %}
                                <td>{{item[key]}}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                {% endif %}
            </table>
        </div>

        <br />
        <br />

        <div>
            <form id="updateCustomer" action="/update_customers/{{data[0].ID}}" method="POST">
                <fieldset>
                    <legend>Update Customer</legend>
                    
                    <label>ID</label>
                    <input value="{{data[0].ID}}" id="customer_id" name="customer_id" disabled>

                    <br />

                    <label>Name</label>
                    <input type="text" value="{{data[0].Name}}" id="customer_name" name="customer_name" required />
                    
                    <br />
                    
                    <label>Phone Number</label>
                    <input type="tel" value="{{data[0].Phone}}" id="customer_phone" name="customer_phone" required />
                    
                    <br />
                    
                    <label>Email</label>
                    <input type="email" value="{{data[0].Email}}" id="customer_email" name="customer_email" required />
                </fieldset>

                <p>
                <input type="submit" value="Update Customer" name="Update_Customer" />
                <a href="/customers"><input type="button" value="Cancel" /></a>
                </p>
            
            </form>
        </div>

        <footer>
            <div align="center">
                <p>&copy; 2023 August Frisk &amp; Dania Magana.
                    <br />
                    Customer data generated with <a href="https://randomuser.me/">Random User Generator</a>.
                </p>
            </div>
        </footer>
    </body>

</html>